.filters {
  width: 250px;
  float: left;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.filter-group {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.filter-group h4 {
  padding-bottom: 10px;
  font-size: 1.2em;
}

.filter-group input {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border: 1px solid #a5a4a4;
  -webkit-appearance: none;
}

#max-price, #min-price {
  border: none;
  border-bottom: 1px solid #a5a4a4;
  outline: none; 
  padding: 8px 0; 
  background: transparent; 
  font-size: 16px;
  transition: border-bottom-color 0.3s ease;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#apply-filters, #reset-filters {
  background-color: #e2e1e1;
  border: 1px solid #ccc;
  width: 200px;
  height: 30px;
  padding: 5px;
}

#apply-filters {
  margin-bottom: 15px;
}
  
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background: white;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  color: #000000;
  font-size: 16px;
}


